{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block stylesheet%}
    <style>
      .nav-link,.navbar-brand{
        color: white;
      }
      .nav-link:hover{
        color: hsl(35,77%,62%);
      }
    </style>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'manage_group.css' %}">
</head>
<body>
  {% block content%}
  <a href="{% url 'home' %}" style="text-decoration: none; color: black;"><img src="{% static 'icons/arrow.png'%}" alt="" width="25px" > <span style="font-size: 18px; text-decoration: none;">home</span></a>
      <a href="{% url 'cse_second'%}" class="cse_second">Cse II</a>
      <a href="{% url 'cse_third' %}" class="cse_three">Cse III</a>
      <a href="{% url 'cse_fourth' %}" class="cse_four">Cse IV </a>
      {% endblock %}
</body>
</html>
