{% extends 'base.html' %}
{% load static %}

<head>
    {% block stylesheet%}
    <link rel="stylesheet" href="{% static 'notes.css' %}">
    {% endblock %}
</head>
<body>
  <br>
  {% block content%}
      <a href="{% url 'folder-notes' group_id %}" style="text-decoration: none; color: black;" class="home-button"><img src="{% static 'icons/arrow.png'%}" alt="" width="25px" > <span style="font-size: 18px; text-decoration: none;">folders</span></a> <br>
      <h4>Notes:</h4>
      {% if permission %}
      <img src="{% static 'icons/upload (1).png'%}" alt="" width="45px" height="45px" id="uplode-icon">
      <div class="overlay">
        <form action="" method="post" enctype="multipart/form-data" id="uplode-form">
          {% csrf_token %}
          {{ notes }}
          <button id="cancel-uplode" type="button">Cancel</button>
          <button type="submit" id="uplode">uplode</button>
        </form><br>
        {% endif %}
      </div>

      {% if file_list %}
        {% for file in file_list %}
          <p class="file">{{ file }} {% if permission %} <img src="{% static 'icons/delete (2).png'%}" alt="" width="25px" height="25px" class="delete-icon" id="delete-icon-{{ file.id }}"> {% endif %} <a href="{% url 'download' file.id %}"><img src="{% static 'icons/download (2).png'%}" alt="" class="download-icon"></a></p>
          {% if permission %}
          <div class="delete-overlay" id="delete-overlay-{{ file.id }}">
            <form action="{% url 'delete_file' group_id folder_id %}" method="post" id="delete-form-{{ file.id }} " class="delete-form">
              {% csrf_token %}
              <input type="hidden" value="{{ file.id }}" name="file_id">
              <p style="margin-left: 50px;">Are you sure you want to delete this file </p>
              <button id="cancel-delete" type="button">Cancel</button>
              <button type="submit" class="delete">Delete</button>
            </form>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% endblock %}

      {% block javascript %}

      <script>
          document.addEventListener("DOMContentLoaded", function() {
            const allDeleteIcons = document.querySelectorAll(".delete-icon");

            allDeleteIcons.forEach(function(icon) {
              icon.addEventListener("click", function() {
                const fileId = icon.id.split("-")[2];
                const overlay = document.getElementById("delete-overlay-" + fileId);
                overlay.style.display = "flex"; // Show the corresponding delete overlay
              });
            });

            const cancelDeleteButtons = document.querySelectorAll("#cancel-delete");
            cancelDeleteButtons.forEach(function(button) {
              button.addEventListener("click", function(event) {
                event.stopPropagation();  // Prevent event from bubbling up
                const overlay = button.closest(".delete-overlay"); // Find closest delete-overlay
                overlay.style.display = "none"; // Hide the overlay on cancel click
              });
            });
          });
          document.addEventListener("DOMContentLoaded", function() {
            const imgIcon = document.getElementById("uplode-icon");
            const overlay = document.querySelector(".overlay");
            const createForm = document.getElementById("uplode-form");
            const cancelCreateBtn = document.getElementById("cancel-uplode");

            imgIcon.addEventListener("click", function() {
                overlay.style.display = "flex";
                createForm.style.display = "block";
            });

            cancelCreateBtn.addEventListener("click", function(event) {
                event.stopPropagation();  // Prevent event from bubbling up
                overlay.style.display = "none";
                createForm.style.display = "none";
            });
        });

        </script>
        {% endblock %}
</body>
</html>
