{% extends 'base.html' %}
{% load static %}

<head>
    <style>
      body{
        width: 100%;
      }
      .full-table{
        width: 100%;
        overflow-x: auto;
      }
    </style>
</head>
<body>
  {% block content%}
  <br>
    <div><a href="{% url 'home' %}" style="text-decoration: none; color: black;"><img src="{% static 'icons/arrow.png'%}" alt="" width="25px" > <span style="font-size: 18px; text-decoration: none;">home</span></a> </div>
    <br>
    <div class="full-table">
      <div>
          <h3>CSE II</h3>
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">name</th>
                      <th scope="col">phone number</th>
                      <th scope="col">gender</th>
                      <th scope="col">address</th>
                      <th scope="col">aadhar number</th>
                      <th scope="col">father name</th>
                      <th scope="col">mother name</th>
                      <th scope="col">father occupation</th>
                      <th scope="col">mother occupation</th>
                      <th scope="col">father phone number</th>
                      <th scope="col">mother phone number</th>
                      <th scope="col">annual income</th>
                      <th scope="col">religion</th>
                      <th scope="col">caste</th>
                      <th scope="col">community</th>
                      <th scope="col">mother language</th>
                    </tr>
                  </thead>
                  {% for student in cse_two_details %}
                      {% for details in student %}
                  <tbody>
                    <tr>
                      <td>{{details.Name}}</td>
                      <td>{{ details.Phone_Number }}</td>
                      <td>{{details.Gender}}</td>
                      <td>{{details.Address}}</td>
                      <td>{{details.Aadhar_Number}}</td>
                      <td>{{details.Father_Name}}</td>
                      <td>{{details.Mother_Name}}</td>
                      <td>{{details.Father_Occupation}}</td>
                      <td>{{details.Mother_Occupation}}</td>
                      <td>{{details.Father_Phone_Number}}</td>
                      <td>{{details.mother_Phone_Number}}</td>
                      <td>{{details.Annual_Income}}</td>
                      <td>{{details.Religion}}</td>
                      <td>{{details.Caste}}</td>
                      <td>{{details.Community}}</td>
                      <td>{{details.Mother_Language}}</td>
                    </tr>
                  </tbody>
                      {% endfor %}
                  {% endfor %}
                </table>
      </div>
    </div>
    {% endblock %}
</body>
</html>
