{% load static %}
{% extends 'base.html' %}


<body>
    {% block content%}
  <br>
    <a href="{% url 'showgroup' %}" style="text-decoration: none; color: black;"><img src="{% static 'icons/arrow.png'%}" alt="" width="25px" > <span style="font-size: 18px; text-decoration: none;">Group</span></a>
    <h3>cse final year</h3>
    <div class="form-container">
    <form action="" method="post" class="add-form">
        {% csrf_token %}
        <h4 class="">add:</h4>
        <div class="student-add-list">
        {% for student in members_list %}
        <input type="checkbox" name="std" id="{{ student }}" value="{{ student }}" >
        <label for="{{ student }}">{{ student }}</label> <br>
        {% endfor %}
        </div>
        <button type="submit" href=""  class="add-btn">Add</button>
    </form>

    <form action="{% url 'cse_four_remove_member' %}" method="post" class="remove-form">
        {% csrf_token %}
        <h4 class="">remove:</h4>
        <div class="student-remove-list">
        {% for student in remove_memeber_list %}
        <input type="checkbox" name="remove_std" id="{{ student }}" value="{{ student }}">
        <label for="{{ student }}">{{ student }} </label> <br>
        {% endfor %}
        </div>
        <button type="submit" href="" class="remove-btn ">remove</button>
    </form>
    </div>
    {% endblock %}
</body>
</html>
