{% extends 'home.html' %}
{% block main %}

<div class="form-page">
    <div class="d2h-container">
        <h1 class="dare" >CSE</h1>
        <h1 class="two">2</h1>
        <h2 class="hack">BOYS</h2>
    </div>
    <div class="text-container">
        <h1>
            Password reset complete
        </h1>
        <p>
            Your password has been set. You may go ahead and log in now.
        </p>
        <a href="{% url 'signin' %}" class="text-blue-400">login</a>
    </div>
</div>

{% endblock %}