{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentSphere</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <style>
      .nav-link,.navbar-brand{
        color: white;
      }
      .nav-link:hover{
        color: hsl(35,77%,62%);
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">StudentSphere</a>
          <button class="navbar-toggler "type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon white"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
            <ul class="navbar-nav  mb-2 mb-lg-0">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link " href="{% url 'home' %}">home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'group-list' %}">Notes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
              {% if permission %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'showgroup'%}">Manage Groups</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'student-details'%}">Student Details</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signout'%}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link signin" href="{% url 'signin'%}">Signin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link signup" href="{% url 'signup' %}">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <a href="{% url 'home' %}" style="text-decoration: none; color: black;"><img src="{% static 'icons/arrow.png'%}" alt="" width="25px" > <span style="font-size: 18px; text-decoration: none;">home</span></a> <br>
      <img src="{% static 'photos/Banner 1.svg'%}" alt="" width="100%" height="40%">
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-container">
          <div class="form-section-one">
            <label for="id_Name">Name:</label>
            {{ form.Name }}
            <label for="id_Name">Phone Number:</label>
            {{ form.Phone_Number }}
            <label for="id_Name">Gender:</label>
            {{ form.Gender }}
            <label for="id_Name">Address:</label>
            {{ form.Address }}
            <label for="id_Name">Aadhar Number:</label>
            {{ form.Aadhar_Number }}
            <label for="id_Name">Father Name:</label>
            {{ form.Father_Name }}
            <label for="id_Name">Mother Name:</label>
            {{ form.Mother_Name }}
            <label for="id_Name">Father Occupation:</label>
            {{ form.Father_Occupation }}
          </div>
          <div class="form-section-two">
            <label for="id_Name">Mother Occupation:</label>
            {{ form.Mother_Occupation }}
            <label for="id_Name">Father Phone Number:</label>
            {{ form.Father_Phone_Number }}
            <label for="id_Name">Mother Phone Number:</label>
            {{ form.mother_Phone_Number }}
            <label for="id_Name">Annual Income:</label>
            {{ form.Annual_Income }}
            <label for="id_Name">Religion:</label>
            {{ form.Religion }}
            <label for="id_Name">Caste:</label>
            {{ form.Caste }}
            <label for="id_Name">Community:</label>
            {{ form.Community }}
            <label for="id_Name">Mother Language:</label>
            {{ form.Mother_Language }} <br>
            <button type="submit" class="btn btn-secondary p-3 ">save</button>
          </div>
        </div>
    </form>
</body>
</html>
