{% extends 'home.html' %}
{% block main %}
<div class="form-page">
    <div class="d2h-container">
        <h1 class="dare" >CSE</h1>
        <h1 class="two"></h1>
        <h2 class="hack">IANS</h2>
    </div>
    <div class="form-container text-sm bg-white rounded-xl bg-opacity-10 backdrop-filter backdrop-blur-sm ">
        <form action="{% url 'signup' %}" method="post" class="form">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Register" class="bg-red-600 text-white text-sm font-inter font-bold px-2 ">
            <div class="flex flex-col md:flex-row mt-4">
                <div class="flex ">
                    <p class="w-[70%] text-[12px] md:mr-3">Already having account?</p>
                    <div class="w-[40%] "><a href="{% url 'signin' %}" class="underline text-red-800 text-[12px] ">try login</a></div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}