{% extends 'base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'student_groups.css' %}">
</head>
<body>
  {% block content%}
  <br>
        <a href="{% url 'home' %}" style="text-decoration: none; color: black;"><img src="{% static 'icons/arrow.png'%}" alt="" width="25px" > <span style="font-size: 18px; text-decoration: none;">home</span></a>
        <br><div>
          {% if cse_two %}
          <a href="{% url 'folder-notes' 1 %}" class="cse_second">Cse II</a>
          {%endif%}
        </div>
        <div >
          {% if cse_three %}
          <a href="{% url 'folder-notes' 2 %}" class="cse_three">Cse III</a>
          {% endif %}
        </div>
        <div>
          {% if cse_four %}
          <a href="{% url 'folder-notes' 3 %}"  class="cse_four">Cse IV </a>
          {% endif %}
        </div>

        {% if permission %}
        <div id="cse_second">
          <a href="{% url 'folder-notes' 1 %}" class="cse_second">Cse II</a>
        </div>
        <div >
          <a href="{% url 'folder-notes' 2 %}" class="cse_three">Cse III</a>
        </div>
        <div >
          <a href="{% url 'folder-notes' 3 %}" class="cse_four">Cse IV </a>
        </div>
        {% endif %}
        {% endblock %}
</body>
</html>
